        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-hdd-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{ swift_name }}</span>
                <div class="btn-group relay-control" data-swift-topic="{{ swift_topic }}" data-swift-id="{{ swift_id }}">
                  <button type="button" class="btn btn-success">On</button>
                  <button type="button" class="btn btn-danger">Off</button>
                </div>
                <span class="info-box-text">status: off</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->