        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-tumblr"></i></span>

            <div class="info-box-content sensor-control" data-sensor-topic="{{ sensor_topic }}" data-sensor-id="{{ sensor_id }}">
              <span class="info-box-text">{{ sensor_name }}</span>
              <span class="info-box-number">{{  sensor_topic }}</span>
              <span class="info-box-number">id: {{ sensor_id }} </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->