{% extends 'adminlte/base.html' %}

{% block title %}{{ title }} - Uberserver.ru{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="row">

{% for sensor in sensor_list %}
    {% with sensor_topic=sensor.topic sensor_name=sensor.name sensor_id=sensor.id sensor_format=sensor.format_sensor.format_symbol %}
        {% include "pages/snippets/snipet_sensor.html" %}
    {% endwith %}
{% endfor %}
{% endblock %}

</div>

{% block inject-javascript %}
    {% load static %}
    <script src="{% static "uberserver/js/sensors.js" %}"></script>
{% endblock %}
