{% extends 'adminlte/base.html' %}

{% block title %}Articles for {{ type_object }}{% endblock %}

{% block content %}
<h1>Swifts</h1>
<div class="row">

{% for swift in swift_list %}
    {% with swift_topic=swift.topic swift_name=swift.name swift_id=swift.id %}
        {% include "pages/snippets/snipet_swift.html" %}
    {% endwith %}
{#    <p><a href="/swift/{{ swift.id }}">имя:{{ swift.name }} | топик:{{ swift.topic }}</a></p>#}
{% endfor %}
{% endblock %}

</div>

{% block inject-javascript %}
    {% load static %}
    <script src="{% static "uberserver/js/swifts.js" %}"></script>
{% endblock %}